# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
ENV/
.venv/

# Django specific
*.log
db.sqlite3
db.sqlite3-journal

# Media and static files
/media/
/staticfiles/

# Environment variables
.env
.env.*

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Testing
.coverage
*.cover
coverage.xml
*.lcov
nosetests.xml
test-results/

# Miscellaneous
*.bak
*.tmp
*.log.*
*.pid
*.seed
*.pid.lock



media